header {
    text-align: center;
  }
  .header {
    background-color: black;
    margin-top:0%;
    padding-top:2%;
    padding-bottom:.1%;
  }
  header h1{ 
    font-size:420%;
    color:white;
    font-family:cursive;
  }
  #logo {
    width:10%;
    float:left;
    margin-left:15%;
    margin-right:-30%;
    margin-top:1%;
  }
  header img {
    width:50%;
    margin-top:3%;
    margin-bottom:5%;
    border-radius:15%;
  }
  ul {
    padding: 2%;
    margin-top:0%;
    border: 20px solid;
    
  }
  li {
    display: inline;
  }
  li a {
    color: black;
    margin:9%;
    font-size:200%;
    text-decoration:none;
  }
  li a:hover {
   background:black;
   color:white;
  }
  article {
    max-width: 60%;
    margin: 0 auto;
  }
  
  h2 {
    font-size:350%;
    font-family:sans-serif;
    text-align:center;
    margin-top:10%;
  }
  
  p {
    font-size:150%;
    line-height:150%;
  }
  
  img {
    max-width:80%;
  }
  
  .blog-post {
    margin-bottom:10%;
  }
  
  .blog-post h3 {
    font-size:175%; 
  }
  
  .blog-post a {
    text-decoration:none; 
    color:#00008B;
    text-align:center;
  }
  
  .blog-post img {
    margin-left:20%; 
    width:60%;
  }
  
  .blog-post a:hover {
    opacity:.7;
    text-decoration:underline;
  }
  
  .newsletter {
    margin-top:5%; 
  }
  
  .newsletter h3 {
    font-size:220%; 
    color:Crimson;
  }  
  
  .newsletter h4 {
    color:Crimson; 
    font-size:200%;
    margin-top:10%;
    margin-bottom:15%;
  }
  
  input {
     padding:2%;
     padding-right:20%;
     font-size:150%;
  }
  
  button {
    border:0;
    font-size:160%;
    padding:2%;
    background: red;
    color: white;
    border-radius:10%;
    cursor:pointer; 
    margin-bottom:10%;
  }
  
  #button {
    text-align:center; 
  }
  
  button:hover {
    opacity:.7;  
  }
  
  @media (max-width: 500px) {
    .header {
    background-color: black;
    margin-top:0%;
    padding-top:2%;
    padding-bottom:.1%;
  }
   
    header h1 {
      font-size:120%; 
    }
    
    #logo {
    width:10%;
    float:left;
    margin-left:10%;
    margin-right:-10%;
    margin-top:3%;
  }
    
    header img {
    width: 90%;
    margin-top:3%;
    margin-bottom:5%;
    border-radius:15%;
  }
  
  h2 {
    font-size:250%;
    font-family:sans-serif;
    text-align:center;
    margin-top:15%;
  }
    
    ul {
    padding: auto;
    margin-top:-10%;
    border: 20px solid;
    
  }
    
    li {
      padding-top:3%;
      display: block;
    }
    
    li a {
    color: black;
    margin:9%;
    font-size:150%;
    text-decoration:none;
  }
  
  input {
     font-size:90%;
  }
  
  button {
    border:0;
    font-size:100%;
    padding:2%;
    background: red;
    color: white;
    border-radius:10%;
    cursor:pointer; 
  }
  
  .newsletter h3 {
    font-size:170%; 
    color:Crimson;
  }  
  
  .newsletter h4 {
    color:Crimson; 
    font-size:130%;
    margin-top:5%;
    margin-bottom:10%;
  }
  
  input {
     padding:2%;
     font-size:100%;
  }
  
  button {
    border:0;
    font-size:120%;
    padding:2%;
    background: red;
    color: white;
    border-radius:10%;
    cursor:pointer; 
    margin-bottom:10%;
  }
  
}
